<mat-toolbar fxLayoutGap="8px" color='primary'>
  <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="Hamburger icon-button with a menu">
    <mat-icon>menu</mat-icon>

  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/home'" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="'/manage-tacos'" routerLinkActive="router-link-active">
      <mat-icon>dialpad</mat-icon>
      <span>Manage Your Recipes</span>
    </button>
  </mat-menu>
  <a mat-button routerLink="/home">
    <!-- <mat-icon svgIcon="taco"></mat-icon> -->
    <span class="mat-h2">Transport Taco</span>

  </a>
  <span class="flex-spacer"></span>
  <button mat-mini-fab routerLink="/user/profile" matTooltip="Profile" matTooltipShowDelay="1000"
    matTooltipHideDelay="2000" aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-mini-fab routerLink="/user/logout" matTooltip="Logout" aria-label="User Logout" matTooltipShowDelay="1000"
    matTooltipHideDelay="2000" aria-label="User Profile">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
