<div [formGroup]="form">

  <mat-form-field>

    <input matInput placeholder="Toco Recipe Name" formControlName="recipeName" #recipeName>

    <mat-hint align="end">
      {{ recipeName.value.length }} / 60
    </mat-hint>


    <!-- <mat-error *ngIf="recipeName.errors?.required">
      A recipe name is required.</mat-error>
    <mat-error *ngIf="recipeName.errors?.maxlength">
      A recipe name is cannot be longer than 60.</mat-error>
    <mat-error *ngIf="recipeName.errors?.minlength">
      A recipe name must be at least 5 characters.</mat-error> -->

  </mat-form-field>

  <mat-form-field>

    <mat-select placeholder="Select Shell Type" formControlName="shellType">

      <ng-container *ngFor="let shellType of (shellTypes$ | async)">

        <mat-option [value]="shellType.code">{{shellType.description}}</mat-option>

      </ng-container>

    </mat-select>

  </mat-form-field>
</div>
